header {
    margin-top: 0px;
    text-align: relative;
    padding-left: 50px;
    padding-top: 250px;
    background-position: top;
    background-size: cover;
    background-image: url("http://fortepan.hu/_photo/display/134849.jpg");
    left: 0;
    right: 0;
    height: 200px;
    position: absolute;
    top: 0px;
  }
  h1 {
    color: black;
    background-color: transparent;
    padding-top: initial;
  }
  main {
    background-color: gainsboro;
    position: relative;
    top: 450px;
    width: 100%;
    margin: 0px;
    font-size: 19px;
  }
  p {
    color: midnightblue;
    padding-top: 20px;
    padding-left: 20px;
    margin-top: 0px;
    font-size: 19px;
  }
  a {
      padding-left: 20px;
  }
    img {
    width: 300px;
    margin: 80px;
    padding-left: 20px;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: transparent;
    color: midnightblue;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -150px;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  img:hover {
    width: 400px;
    margin: 0px;
    border-style: solid;
    border-width: 50px;
    border-radius: 5px;
    border-color: silver;
    padding-left: 0px;
  }
  a:visited {
    text-decoration: none;
    color: darkblue;
    background-color: transparent;
  }
  a:hover {
    text-decoration: none;
    color: darkcyan;
  }
  button {
    width: auto;
    border-radius: 5px;
    object-position: right;
    margin: 5px;
    padding: 10px;
    background: powderblue;
    border: 1px solid black;
    color: black;
    font-family: 'Montserrat';
  }
  button:hover {
    background: black;
    color: powderblue;
  }
  
  button:focus {
    outline:0;
  }
  
  a:link {
    text-decoration: none;
  }
  